@import url("../css/fonts.css");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--Light-gray);
  font-family: "Outfit", sans-serif;
}
p {
  margin: 0;
}

.contain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-container {
  height: 25rem;
  width: 17rem;
  background-color: var(--White);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 13rem 3rem 6rem;
  row-gap: 1.5rem;
  padding: 1rem;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}

.img-container {
  background: url("image-qr-code.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.section-1 p {
  font-weight: 700;
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
}

.section-2 p {
  font-weight: 400;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  color: var(--Grayish-blue);
}

@media only screen and (max-width: 375px) {
  .qr-container {
    height: 28rem;
    grid-template-rows: 16rem 3rem 6rem;
  }
}
